<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">

    <title>Title</title>
  <style>
    /* The animation code */
    @keyframes blobfish {
      0%   {top: -200px;}
      20%  {top:0px;}
      40%  {top:-200px;}
      60%  {top:0px;}
      80% {top:-200px;}
        100% {top:0px}
    }
    #fish {
      width: 350px;
      height: 200px;
      position: relative;
        margin-left: 43%;
        margin-top:15%;
      animation-name: blobfish;
      animation-duration: 4s;
    }

    #logo {
        animation-name:logo;
    }

  </style>
</head>
<body>

   <img id="fish" src='../static/img/blobfish'>

   <div id="logo">
       <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
           <img src='../static/img/YouTube_full-color_icon_(2017).svg.png' style="width: 125px; height: auto; position:center">
       </a>

       <h1 style="font-family: 'Qanelas Soft SemiBold'; font-size:400%; padding-left: 5px">YouTubeNotes</h1>
   </div>

</body>
</html>